layout {
  gaps 15
  always-center-single-column
  empty-workspace-above-first

  // border {
  //   width 2
  // }

  focus-ring {
    width 2
    active-gradient from="#ff0000aa" to="#00ff00ee" angle=-135 in="oklch longer hue"
  }
}

window-rule {
  geometry-corner-radius 24
  clip-to-geometry true
}
