window-rule {
    match app-id=r#"wps$"#
    match app-id="XnView"
    open-floating true
}

window-rule {
    match app-id="neovide"
    match app-id="code"
    match app-id="firefox"
    match app-id="google-chrome"
    open-maximized true
}
