layout {
    tab-indicator {
        active-color   "#96cbff"
        inactive-color "#8a919b"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#96cbff80"
    }
}

overview {
	backdrop-color "#0d141b"
}

recent-windows {
    highlight {
        active-color "#96cbff"
        urgent-color "#ffb4ab"
    }
}
