layout {
    tab-indicator {
        active-color   "#2d4787"
        inactive-color "#757681"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#2d478780"
    }
}

overview {
	backdrop-color "#faf8ff"
}

recent-windows {
    highlight {
        active-color "#2d4787"
        urgent-color "#ba1a1a"
    }
}
