layout {
    tab-indicator {
        active-color   "#006e27"
        inactive-color "#6f7a6c"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#006e2780"
    }
}

overview {
	backdrop-color "#f5fbf0"
}

recent-windows {
    highlight {
        active-color "#006e27"
        urgent-color "#ba1a1a"
    }
}
