binds {
    // 使用dmsshot-rs截图
    Mod+Alt+A  hotkey-overlay-title="选取区域截图 Select screenshot"  { spawn "dmsshot-rs"; }
    Mod+Alt+D hotkey-overlay-title="选区OCR" { spawn "dmsshot-rs" "ocr" "--lang" "chi_sim+eng"; }
    Mod+Alt+Ctrl+A  hotkey-overlay-title="截取聚焦窗口 Focus-window screenshot" { spawn "dmsshot-rs" "window"; }
    Mod+Alt+Ctrl+Shift+A  hotkey-overlay-title="截取显示器 Monitor screenshot" { spawn "dmsshot-rs" "full"; }
    Mod+Alt+S hotkey-overlay-title="滚动截图" { spawn "dmsshot-rs" "scroll"; }
    Print  hotkey-overlay-title=null { spawn "dmsshot-rs"; }
    Ctrl+Print  hotkey-overlay-title=null { spawn "dmsshot-rs" "window"; }
    Shift+Print  hotkey-overlay-title=null { spawn "dmsshot-rs" "full"; }
    Ctrl+Shift+Print { spawn "dmsshot-rs" "scroll"; }
    Mod+Shift+S  hotkey-overlay-title="截图后按下此键进行编辑 Edit the image after screenshot" { spawn-sh "wl-paste | satty -f -";}

    // IPC
    Mod+Alt+L hotkey-overlay-title="Lock Screen" { spawn "qs" "-c" "lc_qs_niri" "ipc" "call" "lock" "open"; }
    Mod+Z { spawn "qs" "-c" "lc_qs_niri" "ipc" "call" "launcher" "toggle"; }
    Mod+Alt+V { spawn "qs" "-c" "lc_qs_niri" "ipc" "call" "clipboard" "toggle"; }
    Mod+M { spawn "qs" "-c" "lc_qs_niri" "ipc" "call" "systemMonitor" "toggle"; }
    Mod+Alt+R { spawn "qs" "-c" "lc_qs_niri" "ipc" "call" "notifications" "markAllRead"; }
    Mod+Alt+B { spawn "qs" "-c" "lc_qs_niri" "ipc" "call" "leftsidebar" "toggle"; }
}
